In [2]:
import yfinance as yf
import pandas as pd
import db.conn as db

msft = yf.Ticker("AAPL")
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30",
                   group_by="ticker")
blc_sheet = msft.balance_sheet
#print(msft.info)
#print(msft.history(period="max"))
#print(msft.actions) #dividend + splits
#print(msft.dividends)
#print(msft.financials)
#print(msft.major_holders) # persons/institutions that hold company shares
#print(msft.balance_sheet)
#print(msft.cashflow)
#print(msft.earnings) #revenues + earnings (last 4 years)
#print(msft.sustainability) #Ecofriendly KPIS
#print(msft.recommendations)
#print(msft.calendar) # events of interes Earnings date
#print(msft.isin) # ISIN = International Securities Identification Number
#print(msft.options) # show options expirations
#print(msft.option_chain('2021-05-14')) # get option chain for specific expiration

[*********************100%***********************]  2 of 2 completed

In [5]:
df = pd.DataFrame(data=blc_sheet)
df1 = df.transpose()
type(df1)

pandas.core.frame.DataFrame

In [4]:
for index, row in df.iterrows():
    print(row.'Other Liab	')

SyntaxError: invalid syntax (<ipython-input-4-c6dca88ccafb>, line 2)

In [47]:
Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }
conn = db.create_connection()
df = pd.DataFrame(Cars, columns= ['Brand', 'Price'])
print (df)

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [ ]:
df.to_sql('CARS', conn, if_exists='replace', index = False)

In [16]:
cnx = db.create_connection()
query = "SELECT * FROM sp500"
c = cnx.cursor()
c.execute(query)
test = c.fetchall()
df = pd.DataFrame(test)
df

         0                    1                       2
0      MMM           3M Company             Industrials
1      AOS      A.O. Smith Corp             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV          AbbVie Inc.             Health Care
4     ABMD              Abiomed             Health Care
...    ...                  ...                     ...
1005   YUM      Yum! Brands Inc  Consumer Discretionary
1006  ZBRA   Zebra Technologies  Information Technology
1007   ZBH        Zimmer Biomet             Health Care
1008  ZION        Zions Bancorp              Financials
1009   ZTS               Zoetis             Health Care

[1010 rows x 3 columns]