In [1]:
import yfinance as yf
import pandas as pd
import db.conn as db
import numpy as np
import datetime as dt

msft = yf.Ticker("AAPL")
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30",
                   group_by="ticker")
cnx = db.create_connection()
blc_sheet = msft.balance_sheet
#print(msft.info)
#print(msft.history(period="max"))
#print(msft.actions) #dividend + splits
#print(msft.dividends)
#print(msft.financials)
#print(msft.major_holders) # persons/institutions that hold company shares
#print(msft.balance_sheet)
#print(msft.cashflow)
#print(msft.earnings) #revenues + earnings (last 4 years)
#print(msft.sustainability) #Ecofriendly KPIS
#print(msft.recommendations)
#print(msft.calendar) # events of interes Earnings date
#print(msft.isin) # ISIN = International Securities Identification Number
#print(msft.options) # show options expirations
#print(msft.option_chain('2021-05-14')) # get option chain for specific expiration

[*********************100%***********************]  2 of 2 completed

In [30]:
def get_blc_sheet():
    cnx = db.create_connection()
    c = cnx.cursor()
    
    create_sql = "CREATE TABLE IF NOT EXISTS blc_sheet(date_inserted datetime,Date date,Ticker varchar(50),Total_Liab float,"\
                "Total_Stockholder_Equity float,Other_Current_Liab float,Total_Assets float,"\
                "Common_Stock float,Other_Current_Assets float,Retained_Earnings float,Other_Liab float,Treasury_Stock float,Other_Assets float,"\
                "Cash float,Total_Current_Liabilities float,Short_Long_Term_Debt float,Other_Stockholder_Equity float,Property_Plant_Equipment float,"\
                "Total_Current_Assets float,Long_Term_Investments float,Net_Tangible_Assets float,Short_Term_Investments float,Net_Receivables float,"\
                "Long_Term_Debt float,Inventory float,Accounts_Payable float)"
    c.execute(create_sql)
    db.delete_table(cnx,'blc_sheet')
    query = "SELECT ticker FROM sp500"
    c.execute(query)
    test = c.fetchall()
    for item in test:
        df = pd.DataFrame(data=blc_sheet)
        df1 = df.transpose()
        df1.index = df1.index.set_names(['Date'])
        df1.insert(0,'Ticker',item[0])
        df1.reset_index(level=0,inplace=True)
        df1['Date'] = df1['Date'].astype('str')
        now = dt.datetime.now()
        df1.insert(0,'date_inserted',now)
        df1['date_inserted'] = df1['date_inserted'].astype('str')
        #creating column lsit for insertion
        cols = ",".join(df1.columns)
        cols_clean = cols.replace(" ","_")

        # Insert DataFrame records one by one.
        for i,row in df1.iterrows():
            placeholder = ", ".join(["%s"] * len(row))
            sql = "INSERT INTO blc_sheet({cols}) VALUES ({placeholder});".format(cols=cols_clean, placeholder=placeholder)
            c.execute(sql, tuple(row))
        # the connection is not autocommitted by default, so we must commit to save our # changes 
            cnx.commit()

In [31]:
get_blc_sheet()

In [23]:
def get_financials():
    cnx = db.create_connection()
    c = cnx.cursor()
    msft = yf.Ticker("AAPL")
    blc_sheet = msft.financials
    db.create_financials_table(cnx)
    db.delete_table(cnx,'financials')
    query = "SELECT ticker FROM sp500"
    c.execute(query)
    test = c.fetchall()
    for item in test:
        df = pd.DataFrame(data=blc_sheet)
        df1 = df.transpose()
        df1.index = df1.index.set_names(['Date'])
        df1.insert(0,'Ticker',item[0])
        df1.reset_index(level=0,inplace=True)
        df1['Date'] = df1['Date'].astype('str')
        now = dt.datetime.now()
        df1.insert(0,'date_inserted',now)
        df1['date_inserted'] = df1['date_inserted'].astype('str')
        #creating column lsit for insertion
        cols = ",".join(df1.columns)
        cols_clean = cols.replace(" ","_")

        # Insert DataFrame records one by one.
        for i,row in df1.iterrows():
            placeholder = ", ".join(["%s"] * len(row))
            sql = "INSERT INTO financials({cols}) VALUES ({placeholder});".format(cols=cols_clean, placeholder=placeholder)
            c.execute(sql, tuple(row))
        # the connection is not autocommitted by default, so we must commit to save our # changes 
            cnx.commit()

In [24]:
get_financials()

AttributeError: module 'db.conn' has no attribute 'create_financials_table'

In [29]:
#print(msft.info)
#print(msft.history(period="max"))
#print(msft.actions) #dividend + splits
#print(msft.dividends)
#print(msft.financials)
#print(msft.major_holders) # persons/institutions that hold company shares
#print(msft.balance_sheet)
#print(msft.cashflow)
#print(msft.earnings) #revenues + earnings (last 4 years)
#print(msft.sustainability) #Ecofriendly KPIS
#print(msft.recommendations)
#print(msft.calendar) # events of interes Earnings date
#print(msft.isin) # ISIN = International Securities Identification Number
#print(msft.options) # show options expirations
#print(msft.option_chain('2021-05-14')) # get option chain for specific expiration

                                       Firm      To Grade From Grade Action
Date
2012-02-09 08:17:00       Canaccord Genuity           Buy              main
2012-03-08 07:33:00          FBN Securities    Outperform              main
2012-03-13 06:08:00               Jefferies           Buy              main
2012-03-14 06:13:00          Morgan Stanley    Overweight              main
2012-03-14 08:21:00       Canaccord Genuity           Buy              main
...                                     ...           ...        ...    ...
2021-04-29 13:17:44       Canaccord Genuity           Buy              main
2021-04-29 13:20:06           Credit Suisse       Neutral              main
2021-04-29 13:40:32  Monness, Crespi, Hardt           Buy              main
2021-04-29 14:01:59                Barclays  Equal-Weight              main
2021-05-19 10:59:15                Barclays  Equal-Weight              main

[790 rows x 4 columns]

In [8]:
def get_cashflow():
    cnx = db.create_connection()
    c = cnx.cursor()
    msft = yf.Ticker("AAPL")
    blc_sheet = msft.cashflow

    db.create_cashflow_table(cnx)
    db.delete_table(cnx,'financials')
    query = "SELECT ticker FROM sp500"
    c.execute(query)
    test = c.fetchall()
    for item in test:
        df = pd.DataFrame(data=blc_sheet)
        df1 = df.transpose()
        df1.index = df1.index.set_names(['Date'])
        df1.insert(0,'Ticker',item[0])
        df1.reset_index(level=0,inplace=True)
        df1['Date'] = df1['Date'].astype('str')
        now = dt.datetime.now()
        df1.insert(0,'date_inserted',now)
        df1['date_inserted'] = df1['date_inserted'].astype('str')
        #creating column lsit for insertion
        cols = ",".join(df1.columns)
        cols_clean = cols.replace(" ","_")
        
        # Insert DataFrame records one by one.
        for i,row in df1.iterrows():
            placeholder = ", ".join(["%s"] * len(row))
            sql = "INSERT INTO cashflow({cols}) VALUES ({placeholder});".format(cols=cols_clean, placeholder=placeholder)
            c.execute(sql, tuple(row))
        # the connection is not autocommitted by default, so we must commit to save our # changes 
            cnx.commit()

In [9]:
get_cashflow()