In [7]:
import yfinance as yf
import pandas as pd
import db.conn as db
import numpy as np

msft = yf.Ticker("AAPL")
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30",
                   group_by="ticker")
cnx = db.create_connection()
blc_sheet = msft.balance_sheet
#print(msft.info)
#print(msft.history(period="max"))
#print(msft.actions) #dividend + splits
#print(msft.dividends)
#print(msft.financials)
#print(msft.major_holders) # persons/institutions that hold company shares
#print(msft.balance_sheet)
#print(msft.cashflow)
#print(msft.earnings) #revenues + earnings (last 4 years)
#print(msft.sustainability) #Ecofriendly KPIS
#print(msft.recommendations)
#print(msft.calendar) # events of interes Earnings date
#print(msft.isin) # ISIN = International Securities Identification Number
#print(msft.options) # show options expirations
#print(msft.option_chain('2021-05-14')) # get option chain for specific expiration

[*********************100%***********************]  2 of 2 completed

In [2]:
df = pd.DataFrame(data=blc_sheet)
df1 = df.transpose()
df1

,Total Liab,Total Stockholder Equity,Other Current Liab,Total Assets,Common Stock,Other Current Assets,Retained Earnings,Other Liab,Treasury Stock,Other Assets,...,Other Stockholder Equity,Property Plant Equipment,Total Current Assets,Long Term Investments,Net Tangible Assets,Short Term Investments,Net Receivables,Long Term Debt,Inventory,Accounts Payable
,,,,,,,,,,,,,,,,,,,,,
2020-09-26,2.585490e+11,6.533900e+10,4.786700e+10,3.238880e+11,5.077900e+10,1.126400e+10,1.496600e+10,4.610800e+10,-4.060000e+08,3.395200e+10,...,-4.060000e+08,4.533600e+10,1.437130e+11,1.008870e+11,6.533900e+10,5.292700e+10,3.744500e+10,9.866700e+10,4.061000e+09,4.229600e+10
2019-09-28,2.480280e+11,9.048800e+10,4.324200e+10,3.385160e+11,4.517400e+10,1.235200e+10,4.589800e+10,5.050300e+10,-5.840000e+08,3.297800e+10,...,-5.840000e+08,3.737800e+10,1.628190e+11,1.053410e+11,9.048800e+10,5.171300e+10,4.580400e+10,9.180700e+10,4.106000e+09,4.623600e+10
2018-09-29,2.585780e+11,1.071470e+11,3.929300e+10,3.657250e+11,4.020100e+10,1.208700e+10,7.040000e+10,4.891400e+10,-3.454000e+09,2.228300e+10,...,-3.454000e+09,4.130400e+10,1.313390e+11,1.707990e+11,1.071470e+11,4.038800e+10,4.899500e+10,9.373500e+10,3.956000e+09,5.588800e+10
2017-09-30,2.412720e+11,1.340470e+11,3.809900e+10,3.753190e+11,3.586700e+10,1.393600e+10,9.833000e+10,4.325100e+10,-1.500000e+08,1.817700e+10,...,-1.500000e+08,3.378300e+10,1.286450e+11,1.947140e+11,1.340470e+11,5.389200e+10,3.567300e+10,9.720700e+10,4.855000e+09,4.424200e+10

In [3]:
df1 = blc_sheet.transpose()
df1.index = df1.index.set_names(['Date'])
df1.insert(0,'Ticker','AAPL')
df1.reset_index(level=0,inplace=True)
df1

,Date,Ticker,Total Liab,Total Stockholder Equity,Other Current Liab,Total Assets,Common Stock,Other Current Assets,Retained Earnings,Other Liab,...,Other Stockholder Equity,Property Plant Equipment,Total Current Assets,Long Term Investments,Net Tangible Assets,Short Term Investments,Net Receivables,Long Term Debt,Inventory,Accounts Payable
0,2020-09-26,AAPL,2.585490e+11,6.533900e+10,4.786700e+10,3.238880e+11,5.077900e+10,1.126400e+10,1.496600e+10,4.610800e+10,...,-4.060000e+08,4.533600e+10,1.437130e+11,1.008870e+11,6.533900e+10,5.292700e+10,3.744500e+10,9.866700e+10,4.061000e+09,4.229600e+10
1,2019-09-28,AAPL,2.480280e+11,9.048800e+10,4.324200e+10,3.385160e+11,4.517400e+10,1.235200e+10,4.589800e+10,5.050300e+10,...,-5.840000e+08,3.737800e+10,1.628190e+11,1.053410e+11,9.048800e+10,5.171300e+10,4.580400e+10,9.180700e+10,4.106000e+09,4.623600e+10
2,2018-09-29,AAPL,2.585780e+11,1.071470e+11,3.929300e+10,3.657250e+11,4.020100e+10,1.208700e+10,7.040000e+10,4.891400e+10,...,-3.454000e+09,4.130400e+10,1.313390e+11,1.707990e+11,1.071470e+11,4.038800e+10,4.899500e+10,9.373500e+10,3.956000e+09,5.588800e+10
3,2017-09-30,AAPL,2.412720e+11,1.340470e+11,3.809900e+10,3.753190e+11,3.586700e+10,1.393600e+10,9.833000e+10,4.325100e+10,...,-1.500000e+08,3.378300e+10,1.286450e+11,1.947140e+11,1.340470e+11,5.389200e+10,3.567300e+10,9.720700e+10,4.855000e+09,4.424200e+10

In [8]:
#creating column lsit for insertion
cols = ",".join(df1.columns)
cols_clean = cols.replace(" ","_")
len(df1.columns)
type(df1['Date'])
df1['Date'] = pd.to_datetime(df1['Date'])
df1['Date']

0   2020-09-26
1   2019-09-28
2   2018-09-29
3   2017-09-30
Name: Date, dtype: datetime64[ns]

In [9]:
# Insert DataFrame records one by one.
for i,row in df1.iterrows():
    placeholder = ", ".join(["%s"] * len(row))
    sql = "INSERT INTO test({cols}) VALUES ({placeholder});".format(cols=cols_clean, placeholder=placeholder)
    print(sql)
    c.execute(sql, tuple(row))
    print(tuple(row))
# the connection is not autocommitted by default, so we must commit to save our # changes 
    cnx.commit()

INSERT INTO test(Date,Ticker,Total_Liab,Total_Stockholder_Equity,Other_Current_Liab,Total_Assets,Common_Stock,Other_Current_Assets,Retained_Earnings,Other_Liab,Treasury_Stock,Other_Assets,Cash,Total_Current_Liabilities,Short_Long_Term_Debt,Other_Stockholder_Equity,Property_Plant_Equipment,Total_Current_Assets,Long_Term_Investments,Net_Tangible_Assets,Short_Term_Investments,Net_Receivables,Long_Term_Debt,Inventory,Accounts_Payable) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);

NameError: name 'c' is not defined

In [10]:
db.init_blc_sheet_table(cnx,'test',df1)

INSERT INTO test(Date,Ticker,Total_Liab,Total_Stockholder_Equity,Other_Current_Liab,Total_Assets,Common_Stock,Other_Current_Assets,Retained_Earnings,Other_Liab,Treasury_Stock,Other_Assets,Cash,Total_Current_Liabilities,Short_Long_Term_Debt,Other_Stockholder_Equity,Property_Plant_Equipment,Total_Current_Assets,Long_Term_Investments,Net_Tangible_Assets,Short_Term_Investments,Net_Receivables,Long_Term_Debt,Inventory,Accounts_Payable) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);

ProgrammingError: Failed processing format-parameters; Python 'timestamp' cannot be converted to a MySQL type

In [14]:
#print(msft.info)
#print(msft.history(period="max"))
print(msft.actions) #dividend + splits
#print(msft.dividends)
#print(msft.financials)
#print(msft.major_holders) # persons/institutions that hold company shares
#print(msft.balance_sheet)
#print(msft.cashflow)
#print(msft.earnings) #revenues + earnings (last 4 years)
#print(msft.sustainability) #Ecofriendly KPIS
#print(msft.recommendations)
#print(msft.calendar) # events of interes Earnings date
#print(msft.isin) # ISIN = International Securities Identification Number
#print(msft.options) # show options expirations
#print(msft.option_chain('2021-05-14')) # get option chain for specific expiration

            Dividends  Stock Splits
Date
1987-05-11   0.000536           0.0
1987-06-16   0.000000           2.0
1987-08-10   0.000536           0.0
1987-11-17   0.000714           0.0
1988-02-12   0.000714           0.0
...               ...           ...
2020-08-07   0.205000           0.0
2020-08-31   0.000000           4.0
2020-11-06   0.205000           0.0
2021-02-05   0.205000           0.0
2021-05-07   0.220000           0.0

[76 rows x 2 columns]