In [1]:
import yfinance as yf
import pandas as pd
import db.conn as db
import numpy as np
import datetime as dt
from datapackage import Package

msft = yf.Ticker("BF-B")
msft
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30",
                  group_by="ticker")
#print(msft.info)
#print(msft.history(period="max"))
#print(msft.actions) #dividend + splits
#print(msft.dividends)
#print(msft.financials)
#print(msft.major_holders) # persons/institutions that hold company shares
#print(msft.balance_sheet)
#print(msft.cashflow)
#print(msft.earnings) #revenues + earnings (last 4 years)
#print(msft.sustainability) #Ecofriendly KPIS
#print(msft.recommendations)
#print(msft.calendar) # events of interes Earnings date
#print(msft.isin) # ISIN = International Securities Identification Number
#print(msft.options) # show options expirations
#print(msft.option_chain('2021-05-14')) # get option chain for specific expiration

[*********************100%***********************]  2 of 2 completed

In [7]:
# como no balance_sheet ha diferentes colunas, adicionamos uma chamado tipo de input, que vai levar o nome da coluna e multiplpicamos o numero de linhas pelo numero de colunas

def get_blc_sheet(): 
    cnx = db.create_connection()
    db.create_blc_sheet_table(cnx)
    del_query = "DELETE FROM blc_sheet"
    db.execute_query(cnx,del_query)
    query = "SELECT ticker FROM sp500 limit 10"
    results = db.read_query(cnx,query)
    
    for item in results:
        print(item[0])
        msft = yf.Ticker(item[0])
        blc_sheet = msft.balance_sheet
        df1 = pd.DataFrame(data=blc_sheet).fillna(0)
        df1.index = df1.index.set_names(['Operation'])
        df1.reset_index(level=0,inplace=True)
        df1 = (df1.set_index(["Operation"])
                 .stack()
                 .reset_index(name='Value'))
        df1.rename(columns={df1.columns[1]: "Date"}, inplace=True)
        df1.insert(0,'Ticker',item[0])
        now = dt.datetime.now()
        df1.insert(0,'date_inserted',now)
        df1['date_inserted'] = df1['date_inserted'].astype('str')
        df1['Date'] = df1['Date'].astype('str')
        #creating column lsit for insertion
        cols = ",".join(df1.columns).replace(" ","_")
        # Insert DataFrame records one by one.
        lista = []
        for i,row in df1.iterrows():
            placeholder = ", ".join(["%s"] * len(row))
            sql = "INSERT INTO blc_sheet({cols}) VALUES ({placeholder});".format(cols=cols, placeholder=placeholder)
            lista.append(list(row))
        db.execute_list_query(cnx, sql, lista)
        print("done")

In [8]:
get_blc_sheet()

None
Query successful
MMM
Query successful
done
AOS
Query successful
done
ABT
Query successful
done
ABBV
Query successful
done
ABMD
Query successful
done
ACN
Query successful
done
ATVI
Query successful
done
ADBE
Query successful
done
AAP
Query successful
done
AMD
Query successful
done

In [78]:
msft = yf.Ticker("APPL")
blc_sheet = msft.balance_sheet
df1 = pd.DataFrame(data=blc_sheet).transpose().fillna(0)
df1.drop(columns=['Capital Surplus'],axis=1,inplace=True,errors='ignore')
df1.index = df1.index.set_names(['Date'])
df1.insert(0,'Ticker',"APPL")
df1.reset_index(level=0,inplace=True)
df1['Date'] = df1['Date'].astype('str')
now = dt.datetime.now()
df1.insert(0,'date_inserted',now)
df1['date_inserted'] = df1['date_inserted'].astype('str')

#creating column lsit for insertion
cols = ",".join(df1.columns).replace(" ","_")
df1

Empty DataFrame
Columns: [date_inserted, Date, Ticker, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [124]:
msft = yf.Ticker("MMM")
blc_sheet = msft.balance_sheet
df1 = pd.DataFrame(data=blc_sheet).fillna(0)
df1.index = df1.index.set_names(['Operation'])
df1.reset_index(level=0,inplace=True)
df1 = (df1.set_index(["Operation"])
         .stack()
         .reset_index(name='Value'))
df1.rename(columns={df1.columns[1]: "Date"}, inplace=True)
df1.insert(0,'Ticker',"MMM")
now = dt.datetime.now()
df1.insert(0,'date_inserted',now)
df1['date_inserted'] = df1['date_inserted'].astype('str')
df1

,date_inserted,Ticker,Operation,Date,Value
0,2021-06-03 18:01:24.283335,MMM,Intangible Assets,2020-12-31,5.835000e+09
1,2021-06-03 18:01:24.283335,MMM,Intangible Assets,2019-12-31,6.379000e+09
2,2021-06-03 18:01:24.283335,MMM,Intangible Assets,2018-12-31,2.657000e+09
3,2021-06-03 18:01:24.283335,MMM,Intangible Assets,2017-12-31,2.936000e+09
4,2021-06-03 18:01:24.283335,MMM,Capital Surplus,2020-12-31,6.162000e+09
...,...,...,...,...,...
107,2021-06-03 18:01:24.283335,MMM,Inventory,2017-12-31,4.034000e+09
108,2021-06-03 18:01:24.283335,MMM,Accounts Payable,2020-12-31,2.561000e+09
109,2021-06-03 18:01:24.283335,MMM,Accounts Payable,2019-12-31,2.228000e+09
110,2021-06-03 18:01:24.283335,MMM,Accounts Payable,2018-12-31,2.266000e+09
111,2021-06-03 18:01:24.283335,MMM,Accounts Payable,2017-12-31,1.945000e+09

In [15]:
def get_ticker_info():
    cnx = db.create_connection()
    # GLOBAL VARS
    # get stock table info to create table
    ticker = yf.Ticker('tsla')
    tipo = ticker.info
    # delete data
    del_query = "DELETE FROM ticker"
    db.execute_query(cnx,del_query)
    # create ticker table
    db.create_ticker_table(cnx,tipo)
    # initialize database
    query = "SELECT ticker FROM sp500"
    results = db.read_query(cnx,query)        
    for item in results:
        print(item[0])
        tkr = yf.Ticker(item[0])
        dic = tkr.info
        dic.pop('companyOfficers',None)
        dic.pop('address2',None)
        df = pd.DataFrame(data=dic, index=[0]).drop(['toCurrency','fax'],axis=1,errors='ignore').fillna(0)
        cols = ",".join(df.columns).replace(" ","_")
        lista = []
        for i,row in df.iterrows():
            placeholder = ", ".join(["%s"] * len(row))
            sql = "INSERT INTO ticker({cols}) VALUES ({placeholder});".format(cols=cols, placeholder=placeholder)
            lista.append(list(row))
        db.execute_list_query(cnx, sql, lista)
        print("done")

In [16]:
get_ticker_info()

None
Query successful
MMM
Query successful
done
AOS
Query successful
done
ABT
Query successful
done
ABBV
Query successful
done
ABMD
Query successful
done
ACN
Query successful
done
ATVI
Query successful
done
ADBE
Query successful
done
AAP
Query successful
done
AMD
Query successful
done
AES
Query successful
done
AFL
Query successful
done
A
Query successful
done
APD
Query successful
done
AKAM
Query successful
done
ALK
Query successful
done
ALB
Query successful
done
ARE
Query successful
done
ALXN
Query successful
done
ALGN
Query successful
done
ALLE
Query successful
done
LNT
Query successful
done
ALL
Query successful
done
GOOGL
Query successful
done
GOOG
Query successful
done
MO
Query successful
done
AMZN
Query successful
done
AMCR
Query successful
done
AEE
Query successful
done
AAL
Query successful
done
AEP
Query successful
done
AXP
Query successful
done
AIG
Query successful
done
AMT
Query successful
done
AWK
Query successful
done
AMP
Query successful
done
ABC
Query successful
done
AME
Query successful
done
AMGN
Query successful
done
APH
Query successful
done
ADI
Query successful
done
ANSS
Query successful
done
ANTM
Query successful
done
AON
Query successful
done
APA
Query successful
done
AAPL
Query successful
done
AMAT
Query successful
done
APTV
Query successful
done
ADM
Query successful
done
ANET
Query successful
done
AJG
Query successful
done
AIZ
Query successful
done
T
Query successful
done
ATO
Query successful
done
ADSK
Query successful
done
ADP
Query successful
done
AZO
Query successful
done
AVB
Query successful
done
AVY
Query successful
done
BKR
Query successful
done
BLL
Query successful
done
BAC
Query successful
done
BAX
Query successful
done
BDX
Query successful
done
BRK-B
Query successful
done
BBY
Query successful
done
BIO
Query successful
done
BIIB
Query successful
done
BLK
Query successful
done
BA
Query successful
done
BKNG
Query successful
done
BWA
Query successful
done
BXP
Query successful
done
BSX
Query successful
done
BMY
Query successful
done
AVGO
Query successful
done
BR
Query successful
done
BF-B
Query successful
done
CHRW
Query successful
done
COG
Query successful
done
CDNS
Query successful
done
CZR
Query successful
done
CPB
Query successful
done
COF
Query successful
done
CAH
Query successful
done
KMX
Query successful
done
CCL
Query successful
done
CARR
Query successful
done
CTLT
Query successful
done
CAT
Query successful
done
CBOE
Query successful
done
CBRE
Query successful
done
CDW
Query successful
done
CE
Query successful
done
CNC
Query successful
done
CNP
Query successful
done
CERN
Query successful
done
CF
Query successful
done
CRL
Query successful
done
SCHW
Query successful
done
CHTR
Query successful
done
CVX
Query successful
done
CMG
Query successful
done
CB
Query successful
done
CHD
Query successful
done
CI
Query successful
done
CINF
Query successful
done
CTAS
Query successful
done
CSCO
Query successful
done
C
Query successful
done
CFG
Query successful
done
CTXS
Query successful
done
CME
Query successful
done
CMS
Query successful
done
KO
Query successful
done
CTSH
Query successful
done
CL
Query successful
done
CMCSA
Query successful
done
CMA
Query successful
done
CAG
Query successful
done
COP
Query successful
done
ED
Query successful
done
STZ
Query successful
done
CPRT
Query successful
done
GLW
Query successful
done
CTVA
Query successful
done
COST
Query successful
done
CCI
Query successful
done
CSX
Query successful
done
CMI
Query successful
done
CVS
Query successful
done
DHI
Query successful
done
DHR
Query successful
done
DRI
Query successful
done
DVA
Query successful
done
DE
Query successful
done
DAL
Query successful
done
XRAY
Query successful
done
DVN
Query successful
done
DXCM
Query successful
done
FANG
Query successful
done
DLR
Query successful
done
DFS
Query successful
done
DISCA
Query successful
done
DISCK
Query successful
done
DISH
Query successful
done
DG
Query successful
done
DLTR
Query successful
done
D
Query successful
done
DPZ
Query successful
done
DOV
Query successful
done
DOW
Query successful
done
DTE
Query successful
done
DUK
Query successful
done
DRE
Query successful
done
DD
Query successful
done
DXC
Query successful
done
EMN
Query successful
done
ETN
Query successful
done
EBAY
Query successful
done
ECL
Query successful
done
EIX
Query successful
done
EW
Query successful
done
EA
Query successful
done
EMR
Query successful
done
ENPH
Query successful
done
ETR
Query successful
done
EOG
Query successful
done
EFX
Query successful
done
EQIX
Query successful
done
EQR
Query successful
done
ESS
Query successful
done
EL
Query successful
done
ETSY
Query successful
done
RE
Query successful
done
EVRG
Query successful
done
ES
Query successful
done
EXC
Query successful
done
EXPE
Query successful
done
EXPD
Query successful
done
EXR
Query successful
done
XOM
Query successful
done
FFIV
Query successful
done
FB
Query successful
done
FAST
Query successful
done
FRT
Query successful
done
FDX
Query successful
done
FIS
Query successful
done
FITB
Query successful
done
FRC
Query successful
done
FE
Query successful
done
FISV
Query successful
done
FLT
Query successful
done
FMC
Query successful
done
F
Query successful
done
FTNT
Query successful
done
FTV
Query successful
done
FBHS
Query successful
done
FOXA
Query successful
done
FOX
Query successful
done
BEN
Query successful
done
FCX
Query successful
done
GPS
Query successful
done
GRMN
Query successful
done
IT
Query successful
done
GNRC
Query successful
done
GD
Query successful
done
GE
Query successful
done
GIS
Query successful
done
GM
Query successful
done
GPC
Query successful
done
GILD
Query successful
done
GPN
Query successful
done
GL
Query successful
done
GS
Query successful
done
GWW
Query successful
done
HAL
Query successful
done
HBI
Query successful
done
HIG
Query successful
done
HAS
Query successful
done
HCA
Query successful
done
PEAK
Query successful
done
HSIC
Query successful
done
HES
Query successful
done
HPE
Query successful
done
HLT
Query successful
done
HFC
Query successful
done
HOLX
Query successful
done
HD
Query successful
done
HON
Query successful
done
HRL
Query successful
done
HST
Query successful
done
HWM
Query successful
done
HPQ
Query successful
done
HUM
Query successful
done
HBAN
Query successful
done
HII
Query successful
done
IEX
Query successful
done
IDXX
Query successful
done
INFO
Query successful
done
ITW
Query successful
done
ILMN
Query successful
done
INCY
Query successful
done
IR
Query successful
done
INTC
Query successful
done
ICE
Query successful
done
IBM
Query successful
done
IFF
Query successful
done
IP
Query successful
done
IPG
Query successful
done
INTU
Query successful
done
ISRG
Query successful
done
IVZ
Query successful
done
IPGP
Query successful
done
IQV
Query successful
done
IRM
Query successful
done
JBHT
Query successful
done
JKHY
Query successful
done
J
Query successful
done
SJM
Query successful
done
JNJ
Query successful
done
JCI
Query successful
done
JPM
Query successful
done
JNPR
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
KSU
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
K
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
KEY
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
KEYS
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
KMB
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
KIM
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
KMI
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
KLAC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
KHC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
KR
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LB
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LHX
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LH
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LRCX
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LW
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LVS
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LEG
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LDOS
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LEN
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LLY
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LNC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LIN
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LYV
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LKQ
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LMT
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
L
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LOW
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LUMN
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LYB
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MTB
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MRO
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MPC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MKTX
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MAR
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MMC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MLM
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MAS
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MA
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MXIM
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MKC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MCD
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MCK
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MDT
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MRK
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MET
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MTD
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MGM
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MCHP
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MU
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MSFT
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MAA
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MHK
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
TAP
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MDLZ
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MPWR
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MNST
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MCO
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MS
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MSI
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
MSCI
Query successful
done
NDAQ
Query successful
done
NTAP
Query successful
done
NFLX
Query successful
done
NWL
Query successful
done
NEM
Query successful
done
NWSA
Query successful
done
NWS
Query successful
done
NEE
Query successful
done
NLSN
Query successful
done
NKE
Query successful
done
NI
Query successful
done
NSC
Query successful
done
NTRS
Query successful
done
NOC
Query successful
done
NLOK
Query successful
done
NCLH
Query successful
done
NOV
Query successful
done
NRG
Query successful
done
NUE
Query successful
done
NVDA
Query successful
done
NVR
Query successful
done
NXPI
Query successful
done
ORLY
Query successful
done
OXY
Query successful
done
ODFL
Query successful
done
OMC
Query successful
done
OKE
Query successful
done
ORCL
Query successful
done
OTIS
Query successful
done
PCAR
Query successful
done
PKG
Query successful
done
PH
Query successful
done
PAYX
Query successful
done
PAYC
Query successful
done
PYPL
Query successful
done
PENN
Query successful
done
PNR
Query successful
done
PBCT
Query successful
done
PEP
Query successful
done
PKI
Query successful
done
PRGO
Query successful
done
PFE
Query successful
done
PM
Query successful
done
PSX
Query successful
done
PNW
Query successful
done
PXD
Query successful
done
PNC
Query successful
done
POOL
Query successful
done
PPG
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PPL
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PFG
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PG
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PGR
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PLD
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PRU
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PTC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PEG
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PSA
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PHM
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PVH
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
QRVO
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
QCOM
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
PWR
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
DGX
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
RL
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
RJF
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
RTX
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
O
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
REG
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
REGN
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
RF
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
RSG
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
RMD
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
RHI
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
ROK
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
ROL
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
ROP
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
ROST
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
RCL
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SPGI
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
CRM
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SBAC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SLB
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
STX
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SEE
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SRE
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
NOW
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SHW
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SPG
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SWKS
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SNA
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SO
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
LUV
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SWK
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SBUX
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
STT
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
STE
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SYK
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SIVB
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SYF
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SNPS
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
SYY
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
TMUS
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
TROW
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
TTWO
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
TPR
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
TGT
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
TEL
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
TDY
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
TFX
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
TER
Query successful
done
TSLA
Query successful
done
TXN
Query successful
done
TXT
Query successful
done
BK
Query successful
done
CLX
Query successful
done
COO
Query successful
done
HSY
Query successful
done
MOS
Query successful
done
TRV
Query successful
done
DIS
Query successful
done
TMO
Query successful
done
TJX
Query successful
done
TSCO
Query successful
done
TT
Query successful
done
TDG
Query successful
done
TRMB
Query successful
done
TFC
Query successful
done
TWTR
Query successful
done
TYL
Query successful
done
TSN
Query successful
done
USB
Query successful
done
UDR
Query successful
done
ULTA
Query successful
done
UAA
Query successful
done
UA
Query successful
done
UNP
Query successful
done
UAL
Query successful
done
UPS
Query successful
done
URI
Query successful
done
UNH
Query successful
done
UHS
Query successful
done
UNM
Query successful
done
VLO
Query successful
done
VTR
Query successful
done
VRSN
Query successful
done
VRSK
Query successful
done
VZ
Query successful
done
VRTX
Query successful
done
VFC
Query successful
done
VIAC
Query successful
done
VTRS
Query successful
done
V
Query successful
done
VNO
Query successful
done
VMC
Query successful
done
WRB
Query successful
done
WBA
Query successful
done
WMT
Query successful
done
WM
Query successful
done
WAT
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
WEC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
WFC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
WELL
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
WST
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
WDC
Error: '1054 (42S22): Unknown column 'lastDividendDate' in 'field list''
done
WU